.category-list .card-text {
  text-align: left;
  text-wrap: wrap;
  white-space: pre-wrap;
}

.category-list {
    padding: 16px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
    row-gap: 32px;
  }
  
  .card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .category-list .card-body {
    max-width: 100%;
  }
  
  @media (max-width: 1500px) {
    .category-list {
      grid-template-columns: 49% 49%;
    }
  }
  
  @media (max-width: 1000px) {
    .category-list {
      grid-template-columns: 100%;
    }
  }